<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New posts</title>
</head>
<body>
    <form method="post"  action="http://localhost:8080/posts">
        <input type="text" placeholder="username" name="username"><br> <br>
        <textarea name="content" id="" rows="10" cols="20"></textarea><br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>