h1 {
    color: crimson;
}

.posts {
    background-color: brown;
    color: white;
   
}

.user {
    padding: 1rem;
}

.content {
    padding: 0 0 2rem 2rem;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: black;
    padding: 0.5rem 1rem;
}